.carousel {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  img:not(:first-child) {
    opacity: 0;
  }

  &-actions {
    &-left {
      left: var(--outer-x);
    }

    &-right {
      right: var(--outer-x);
    }

    &-left,
    &-right {
      padding: var(--inner-y);
      border-radius: var(--border-radius);
      background-color: var(--grey-opacity);
      cursor: pointer;
      z-index: 100;

      &:hover {
        filter: brightness(140%);
      }
    }
  }
}