.basket {
  bottom: 150px;
  right: var(--inner-x);
  z-index: 100;
  user-select: none;

  &-content {
    position: relative;
    background: var(--gradient-primary-2);
    padding: var(--inner-y) var(--inner-x);
    border-radius: var(--border-radius);
    width: 240px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
    overflow: hidden;
    color: var(--white);
    transition: var(--animation-1);

    &:before {
      content: "";
      background-color: var(--color-2);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: var(--animation-1);
      height: 300%;
      width: 300%;
      top: 100%;
      border-radius: 50%;
    }
  
    &:hover:before {
      top: -50%;
      left: -50%;
    }

    &:hover {
      color: var(--black);
    }

    &-icon {
      width: 48px;
      z-index: 1;
    }

    &-title {
      z-index: 1;
    }
  }
}