.card {
  width: 60vw;
  margin: var(--outer-y) var(--outer-x);
  background-color: var(--white);
  color: var(--color-6);
  border-radius: var(--border-radius);

  &-medium {
    width: 80vw;
  }

  &-big {
    width: 100%;
    border-radius: 0;
  }
}