.card {
  width: 60%;
  color: var(--color-6);
  border-radius: var(--border-radius);
  z-index: 10;

  &-medium {
    width: 80%;
  }

  &-big {
    width: 100%;
    border-radius: 0;
  }

  &-default {
    background-color: var(--white);
  }

  &-gradient {
    background: var(--gradient-primary);
    transition: var(--animation-1);

    &:hover {
      background: var(--gradient-primary-hover);
    }
  }

  &-padding {
    &-inner {
      padding: var(--inner-y) var(--inner-x);
    }

    &-outer {
      padding: var(--outer-y) var(--outer-x);
    }

    &-mobile {
      &:not(.card-big) {
        padding: var(--area-mobile-y) var(--area-mobile-x);
      }
    }
  }

  &-margin {
    &-inner {
      margin: var(--inner-y) var(--inner-x);
    }

    &-outer {
      margin: var(--outer-y) var(--outer-x);
    }

    &-mobile {
      margin: var(--area-mobile-y) var(--area-mobile-x);
    }
  }

  &-border {
    &-primary {
      border-color: var(--color-1);

      &:hover {
        border-color: var(--color-2);
      }
    }
  }
}