.footer {
  height: 62px;
  background-color: var(--color-1);
  border-top: 2px solid var(--color-5);
  color: var(--color-5);

  &-content {
    gap: var(--inner-2);

    &-container {
      gap: var(--inner-2);

      &-title {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-2);

        &.clickable {
          cursor: pointer;
          text-decoration: underline;
    
          &:hover {
            color: var(--color-4);
          }
        }
      }
  
      &-separator {
        font-size: var(--font-size-3);
      }
    }
  }
}