.footer {
  min-height: 62px;
  background-color: var(--white);
  border-top: 2px solid var(--color-5);
  margin-top: calc(-1 * var(--outer-y));
  color: var(--color-5);
  padding: var(--outer-y) var(--outer-x);
  box-shadow: -1px 4px 10px var(--black);
  z-index: 100;
  position: absolute;

  &-content {
    gap: var(--inner-y) var(--inner-x);

    &-container {
      gap: var(--inner-y) var(--inner-x);

      &-title {
        font-size: var(--font-size-2);
        font-weight: var(--font-weight-2);

        &.clickable {
          cursor: pointer;
          text-decoration: underline;
    
          &:hover {
            color: var(--color-4);
          }
        }
      }
  
      &-separator {
        font-size: var(--font-size-3);
      }
    }
  }
}