.navbar {
  position: relative;
  height: 142px;
  background-color: var(--color-1);
  border-bottom: 2px solid var(--color-5);
  color: var(--color-5);

  &-content {
    gap: var(--outer-x);

    &-title {
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-2);
      text-transform: uppercase;
      cursor: pointer;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        color: var(--color-4);
      }
    }
  }

  &-flags {
    text-transform: uppercase;
    cursor: pointer;

    gap: var(--inner-y);
    right: var(--outer-y);

    &-flag {
      padding: var(--inner-y);
      border-radius: var(--border-radius);
      transition: var(--animation-1);

      &.active {
        box-shadow: 0 0 0 1px var(--color-5);
        &:hover {
          box-shadow: 0 0 0 1px var(--color-4);
        }
      }

      &:hover {
        color: var(--color-4);
      }
    }
  }
}