.navbar {
  height: 142px;
  background-color: var(--white);
  border-bottom: 2px solid var(--color-5);
  color: var(--color-5);
  box-shadow: -1px -2px 10px var(--black);
  z-index: 100;

  &-content {
    gap: var(--outer-y) var(--outer-x);
    padding: var(--inner-y) var(--inner-x);

    &-title {
      gap: var(--inner-y) var(--inner-x);
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-2);
      border-radius: var(--border-radius);
      text-transform: uppercase;
      cursor: pointer;
      transition:  var(--animation-bg);

      &.active {
        text-decoration: underline;
      }

      &:hover {
        background-color: var(--color-1);
      }
    }
  }

  &-flags {
    text-transform: uppercase;
    cursor: pointer;

    gap: var(--inner-y) var(--inner-x);
    right: var(--outer-y);

    &-flag {
      padding: var(--inner-y);
      border-radius: var(--border-radius);
      transition: var(--animation-1);

      &.active {
        box-shadow: 0 0 0 1px var(--color-5);
        &:hover {
          box-shadow: 0 0 0 1px var(--color-4);
        }
      }

      &:hover {
        color: var(--color-4);
      }
    }
  }

  &-sidebar {
    &-shadow {
      z-index: 900;
      background-color: var(--grey-opacity);
      transition: var(--animation-1);
    }

    &-content {
      width: 90vw;
      height: 100vh;
      background-color: var(--white);
      border-right: 2px solid var(--color-5);
      z-index: 1000;
      transition: var(--animation-1);

      &-items {
        gap: var(--inner-y) var(--inner-x);
        padding: var(--inner-y) var(--inner-x);
      }

      &-title {
        gap: var(--inner-y) var(--inner-x);
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
        cursor: pointer;
  
        &:hover {
          color: var(--color-4);
        }

        &.main {
          padding: var(--outer-y) var(--outer-x);
        }

        &:not(.main) {
          height: 64px;
          border-radius: var(--border-radius);
          padding: calc(var(--inner-y) / 2) calc(var(--inner-x) / 2);
          
          &.active {
            background-color: var(--color-2);
          }
        }
      }

      &-bottom {
        gap: var(--inner-y) var(--inner-x);
        padding: var(--outer-y) var(--outer-x);
        background-color: var(--color-2);
      }
    }
  }
}