.parallax-cover {
  position: relative;

  &-container {
    overflow: hidden;
    clip-path: inset(100% 0% 0% 0%);
    pointer-events: none;
    z-index: 1;
    position: relative;

    img {
      object-fit: cover;
      height: 100vh;
    }
  }

  &-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &-mask {
    position: absolute;
    inset: 0;
    z-index: 2;
    object-fit: cover;
    height: 100%;
    pointer-events: none;
    clip-path: inset(0% 0% 0% 0%);
  }

  &-editor {
    position: relative;
    overflow: hidden;

    .parallax-cover-container {
      position: absolute;
      inset: 0;
      clip-path: inset(100% 0% 0% 0%);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}