.title {
  font-size: var(--font-size-3);
  font-family: "Cormorant Garamond", serif;

  &-medium {
    font-size: var(--font-size-4);
  }

  &-big {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-2);
  }

  &-underline {
    width: 0%;
    height: 5px;
    background-color: var(--color-6);
    transition: var(--animation-1);
  }

  &:hover {
    .title-underline {
      width: 100%;
    }
  }

  &-margin {
    &-inner {
      margin: var(--inner-y) var(--inner-x);
    }

    &-outer {
      margin: var(--outer-y) var(--outer-x);
    }
  }
}