.title {
  color: var(--color-6);
  font-size: var(--font-size-3);
  font-family: "Cormorant Garamond", serif;
  margin: var(--outer-1) 0;

  &-medium {
    font-size: var(--font-size-4);
  }

  &-big {
    font-size: var(--font-size-5);
  }

  &-underline {
    width: 0%;
    background-color: var(--color-6);
    transition: var(--animation-1);
  }

  &:hover {
    .title-underline {
      width: 100%;
    }
  }
}