$testimonial-height: 400px;
$margin-top: 48px;
$padding-top: 64px;

.testimonial {
  left: 50%;
  transform: translateX(-50%);
  padding: var(--inner-y) var(--inner-x);
  margin-top: var(--inner-y);
  font-family: 'Roboto', sans-serif;
  user-select: none;

  &-profile {
    left: 50%;
    transform: translateX(-50%);
    width: 128px;

    img {
      clip-path: circle(50%);
    }
  }

  &-content {
    gap: var(--inner-y) var(--inner-x);
    height: $testimonial-height;
    padding: var(--inner-y) var(--inner-x);
    padding-top: $padding-top;
    margin-top: $margin-top;
    border-radius: var(--border-radius);
    background-color: var(--color-1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    &-text {
      line-height: 32px;

      &-quote {
        position: relative;
        width: 32px;
        color: var(--color-5);
        display: inline-block;

        > * {
          position: absolute;
        }

        &:first-child {
          height: 32px;
        }

        &:last-child {
          transform: rotate(180deg);
        }
      }
    }

    &-author {
      gap: var(--inner-y);

      &-name {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
        color: var(--color-5);
      }

      &-position {
        font-size: var(--font-size-2);
      }
    }

    &-date {
      color: var(--grey);
      font-size: var(--font-size-2);
    }
  }
}

.testimonials {
  perspective: 800px;
  height: calc($testimonial-height + $margin-top + var(--inner-y) * 3);
  overflow: hidden;
}