.input-text {
  font-size: var(--font-size-2);

  input {
    background: transparent;
    padding: calc(var(--inner-y) / 2) calc(var(--inner-x) / 2);

    &:focus, &:focus-visible {
      outline: none;
    }
  }

  &-border {
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
  }

  &-padding {
    &-small {

    }

    &-medium {

    }
  }

  &-error {
    color: var(--error);
  }
}