@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #f8e8d3;
  --color-2: #f5dbd0;
  --color-3: #dd97af;
  --color-4: #e0a085;
  --color-5: #ee948e;
  --color-5-b: rgba(211, 122, 116, .8);
  --color-6: #18122a;
  --primary: #ee948e;
  --gradient-primary: linear-gradient(#f8e8d3 0%, #ecbabb, #ee948e);
  --gradient-primary-hover: linear-gradient(#f8e8d3, #ee948e);
  --info: #86b3e5;
  --success: #82e87e;
  --warn: #eb9c5b;
  --error: #ff5353;
  --black: #000;
  --white: #fff;
  --grey: rgb(139, 139, 139);
  --grey-opacity: rgba(42, 43, 47, .6);
  --inner-y: 10px;
  --inner-x: 25px;
  --outer-y: 30px;
  --outer-x: 45px;
  --area-mobile-y: 5px;
  --area-mobile-x: 10px;
  --border-radius: 7px;
  --border-radius-actions: 5px;
  --font-size-1: 10px;
  --font-size-2: 14px;
  --font-size-3: 22px;
  --font-size-4: 30px;
  --font-size-5: 48px;
  --font-weight-1: 300;
  --font-weight-2: 600;
  --font-weight-3: 900;
  --animation-1: all .3s ease-in;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-1);
  font-family: Open Sans,Arial,sans-serif;
}

.flex-gap {
  gap: var(--inner-y) var(--inner-x);
}

.padding-inner {
  padding: var(--inner-y) var(--inner-x);
}

.padding-outer {
  padding: var(--outer-y) var(--outer-x);
}

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}