.button {
  height: fit-content;
  position: relative;
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-1);
  color: var(--white);
  overflow: hidden;
  transition: var(--animation-1);

  &:before {
    content: "";
    background-color: var(--color-2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: var(--animation-1);
  }

  &:not(.round) {
    &:before {
      height: 300%;
      width: 150%;
      top: 100%;
      border-radius: 50%;
    }

    &:not(.underline) {
      &:hover:before {
        top: -50%;
        left: -25%;
      }
    }
  }

  &.round {
    &:before {
      height: 0%;
      width: 0%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  
    &:not(.underline) {
      &:hover:before {
        height: 105%;
        width: 105%;
      }
    }
  }

  &.button-full-width {
    width: 100%;

    .button-front {
      justify-content: center;
    }
  }
  
  &.button-full-height {
    height: 100%;

    .button-front {
      align-items: center;
    }
  }
  
  &-outline {
    &:after {
      content: '';
      display: flex;
      position: absolute;
      z-index: 0;
      inset: 3px;
      border-radius: 3px;
      background-color: var(--white);
      pointer-events: none;
    }

    .button-front {
      color: var(--color-5);
      transition: var(--animation-1);

      &:hover {
        color: var(--black);
      }
    }
  }

  &-front {
    position: relative;
    gap: var(--inner-x);

    &-text {
      z-index: 1;
    }
  }
  
  &-padding {
    .button-front {
      padding: calc(var(--inner-y) / 2) calc(var(--inner-x) / 2) ;
    }
  } 

  &:hover:not(.disabled) {
    color: var(--black);
    // filter: brightness(120%);
    // -webkit-filter: brightness(120%);
  }
  
  &-medium {
    font-size: var(--font-size-2);

    &.button-padding {
      .button-front {
        padding: calc(var(--inner-y) / 1.25) calc(var(--inner-x) / 1.25) ;
      }
    }
  }

  &-big {
    font-size: var(--font-size-3);

    &.button-padding {
      .button-front {
        padding: calc(var(--inner-y) / 1.75) calc(var(--inner-x) / 1.75) ;
      }
    } 
  }

  &.background {
    border-radius: var(--border-radius-actions);
    // outline: 1px solid var(--black);
  }

  &.round {
    border-radius: 50%;

    &.button-padding {
      .button-front {
        padding: var(--inner-y);
      }
    }
  }

  &.input {
    input {
      background-color: transparent;
    }

    &-primary {
      input {
        background: var(--gradient-primary-2);
      }
    }
  }

  &-primary {
    &.underline {
      color: var(--primary);
    }

    &.background {
      background: var(--gradient-primary-2);
    }
  }

  &-white {
    &.underline {
      color: var(--white);
    }

    &.background {
      background-color: var(--white);
    }
  }

  &-black {
    &.underline {
      color: var(--black);
    }

    &.background {
      background-color: var(--black);
      color: var(--white);
    }
  }

  &-black,
  &-white {
    &:hover {
      filter: brightness(80%);
      -webkit-filter: brightness(80%);
    }
  }

  &-info {
    &.underline {
      color: var(--info);
    }

    &.background {
      background-color: var(--info);
    }
  }

  &-success {
    &.underline {
      color: var(--success);
    }

    &.background {
      background-color: var(--success);
    }
  }

  &-warn {
    &.underline {
      color: var(--warn);
    }

    &.background {
      background-color: var(--warn);
    }
  }

  &-error {
    &.underline {
      color: var(--error);
    }

    &.background {
      background-color: var(--error);
    }
  }

  &.disabled {
    color: var(--grey);
  }
}