.sheet {
  background-color: var(--white);
  border: 2px solid var(--color-5);
  border-radius: var(--border-radius);

  &-row {
    &:nth-child(odd):not(:first-child):not(:last-child),
    &:nth-child(even):first-child,
    &:nth-child(even):last-child {
      background-color: var(--color-2);
    }
  }
}