.progression {
  &-steps {
    &-step {
      min-width: 150px;
      padding: 0 var(--inner-x);
      white-space: nowrap;

      &.step-done {
        color: var(--color-5);
      }

      &-title {
        white-space: nowrap;
      }
    }
  }

  &-bars {
    &-shadow {
      height: 4px;
      background-color: var(--color-2);
      z-index: -1;
    }

    &-current {
      height: 4px;
      background-color: var(--color-5);
      transition: var(--animation-1);
    }
  }
}